*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}
h1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    width: 6em;
}
.container{
    position: relative;
    margin-top: 6%;
    height: 100vh;
}
.container div{
    position: relative;
    float: left;
    height: 50%;
    margin: 1%;
    border: 5px solid rgb(56, 46, 40);
}
.container div h2{
    position: absolute;
    width: 150px;
    border: 5px solid rgb(56, 46, 40);
    top: -5px;
    right: -5px;
    text-align: center;
}
.container div p{
    position: absolute;
    bottom: 1%;
    padding: 0% 2% 0% 2%;
    font-size: 130%;
}
.container div .text3-lg{
    visibility: visible;
}
.container div .text3-md{
    visibility: hidden;
}
.chicken{
    background-color: aquamarine;
}
.chicken h2{
    background-color: rgb(236, 106, 73);
}
.beef{
    background-color: darkgoldenrod;
}
.beef h2{
    background-color: red;
}
.sushi{
    background-color: darkslategrey;
}
.sushi h2{
    background-color: rgb(243, 243, 115);
}
@media (min-width:992px){
    .container div{
        width: 31%;
        height: 38vh;
    }
}
@media (min-width:768px) and (max-width:991px){
    .container{
        height: 100vh;
    }
    .container div{
        position: relative;
        overflow-y: auto;
        width: 47%;
        height: 35%;
    }
    .container div p{
        position: absolute;
        font-size: 130%;
        bottom: 20%;
    }
    .container .sushi{
        width: 96%;
        height: 30vh;
    }
    .container div .text3-lg{
        visibility: hidden;
    }
    .container div .text3-md{
        visibility: visible;
        height: 22vh;
        bottom: 0;
    }
}
@media (max-width:767px){
    h1{
        margin-top: 3%;
    }
    .container{
        position: relative;
        margin-left: 10%;
        margin-top: 2%;
        height: 100vh;
    }
    .container div{
        position: relative;
        clear: left;
        width: 85%;
        height: 30%;
    }
    .container div p{
        position: absolute;
        padding: 0% 2% 0% 2%;
        font-size: 150%;
        bottom: 13%;
    }
}