*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
}
.container div .header2{
    position: relative;
    background-color: transparent;
    width: 100%;
    border: none;
}
.container div h2{
    position: absolute;
    border: 3px solid rgb(59, 51, 26);
    width: 150px;
    top: -8px;
    right: 1%;
    text-align: center;
}
.container div{
    position: relative;
    float: left;
    width: 30%;
    margin: 1.5%;
    background-color: rgb(156, 153, 153);
    border: 3px solid rgb(59, 51, 26);
}
.container div p{
    padding: 1.5%;
}
.text3-md{
    visibility: hidden;
}
.container .chicken h2{
    background-color:  skyblue;
}
.container .beef h2{
    background-color: red;
}
.container .sushi h2{
    background-color: salmon;
}
@media (min-width:992px){

}
@media (min-width:768px) and (max-width:991px){
    .container div{
        width: 45%;
    }
    .container .sushi{
        clear: left;
        width: 93%;
    }
    .container .sushi h2{
        position: absolute;
        margin-top: -0.8%;
    }
    .container .text3-lg{
        position: absolute;
        visibility: hidden;
    }
    .container .text3-md{
        visibility: visible;
    }
}
@media (max-width:767px){
    .container div{
        clear: left;
    }
}