*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-image: linear-gradient(to right,rgb(172, 174, 175),rgb(117, 117, 116),rgb(83, 83, 83));
}
#main-content h2{
    margin-top: 20px;
}
.navbar-nav a{
    color: white;
    font-size: 20px;
}
.navbar-nav a:hover{
    background-image: linear-gradient(to right,white,gray);
    color: black;
    border-radius: 20px;
}
.bi-list{
    font-size: 40px;
}
#chicken{
    background-color: rgb(172, 174, 175);
}
#beef{
    background-color: rgb(117, 117, 116);
}
#sushi{
    background-color: rgb(83, 83, 83);
}
.item-content{
    height: 95%;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: -moz-hidden-unscrollable;
}
.item-content p{
    padding: 20px;
    font-size: 1.5vw;
}
.item-content h3{
    text-align: center;
}
@media (min-width:1200px){

}
@media (min-width: 992px) and (max-width:1199px) {
    

}
@media (min-width: 768px) and (max-width:991px) {
    .item-content p{
        font-size: 2vw;
        padding: 20px;
    }
    #sushi{
        height: 25vw;
    }
}
@media (max-width:767px){
    .item-content{
        height: 60vw;
    }
    .item-content p{
        font-size: 3vw;
        padding: 0px 10px 0px;
    }
}